TELEGRAM_BOT_TOKEN=8779925178:AAFOf2ClTtoE2sWmtYMAvTBLsYwZ7LBxpYo
GEMINI_API_KEY=AQ.Ab8RN6KCZby0xKim2U8Ja8EXVNXpFVa_OwcsfISowa1yZsW17g
BACKEND_URL=9u1+fYBy/STFQt78MsBBQ4u8r1MWAj2FuqCiEv1HlM4=
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
